#serif {
    font-family: serif;
}

#sans-serif {
    font-family: sans-serif;
}

#monospace {
    font-family: monospace;
}

#cursive {
    font-family: monospace;
}

#fantasy {
    font-family: fantasy;
}

#google {
    font-family: 'Coiny', cursive;
}
