* {
    text-align: center;
}

.logo {
    width: 165px;
    height: 58px;
    margin: 80px;
}

nav {
    margin:60px 0;
}

a.menu.selected {
    font-weight: 700;
}

a.menu {
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica;
    color: #58595B;
    padding:0 20px;
}

img.content {
    width: 90%; 
}
